{% load static %}


{% if ad == 'AD001' %}
  <div class="my-5 d-block d-sm-flex d-md-none text-center">
    <div class="mx-auto text-center">
      <a href="https://www.jdoqocy.com/click-100483818-13606481" target="_blank">
        <img class="img-fluid" src="https://www.lduhtrp.net/image-100483818-13606481" width="300" height="250" alt="Signup for GameFly today to get the latest PS4 & Xbox games!" border="0"/>
      </a>
    </div>
  </div>

{% elif ad == 'CROSSOUT_DESK' %}
  <div class="d-md-block text-center my-1">
    <div class="text-center text-muted"><small>Advertisement</small></div>
    <a href="http://www.adtogametrk.com/4SFWF6N/9LLP2M/" target="_blank">
      <img src="{% static 'images/ads/2020-04-27_XO_Bannerset_cars_970x90.jpg' %}" class="mt-1 img-fluid ad-img"
           alt="Play Crossout for Free." border="0"/>
    </a>
  </div>

{% elif ad == 'APEX/KINGUIN' %}
  <div class="my-5 d-block d-sm-flex d-md-none mx-auto" style="max-width: 250px; width: auto;">
    <a href="https://www.kqzyfj.com/click-100483818-14525485" target="_top">
      <img src="https://www.tqlkg.com/image-100483818-14525485" class="img-fluid"  width="300" height="250" alt="" border="0"/>
    </a>
  </div>

{% elif ad == 'GMG/APEX' %}
  <div class="my-5 d-block d-sm-flex d-md-none mx-auto" style="max-width: 250px; width: auto;">
    <a href="https://www.anrdoezrs.net/click-100483818-14477174" target="_blank">
      <img src="https://www.ftjcfx.com/image-100483818-14477174" class="img-fluid" width="300" height="250" alt="Shop now with Acer." border="0"/>
    </a>
  </div>

{% elif ad == 'AD004' %}
  <div class="my-5 d-block d-sm-flex d-md-none mx-auto" style="max-width: 250px; width: auto;">
    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=personalshopper&banner=19HYCQRHAAGBQ71KNVR2&f=ifr&lc=pf4&linkID=1548f646f19f19bf78d1ebd60e538fb4&t=whichgame2021-20&tracking_id=whichgame2021-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>


{% elif ad == 'AD005' %}
  <div class="my-5 d-block d-sm-flex d-md-none mx-auto" style="max-width: 250px; width: auto;">
    <a href="https://www.anrdoezrs.net/click-100483818-15025089" target="_blank">
      <img class="img-fluid" src="https://www.ftjcfx.com/image-100483818-15025089" width="300" height="250" alt="Shop now with Predator Gaming." border="0"/></a>
  </div>


{% endif %}