{% extends "games_db/base.html" %}

{% block content %}
<div class="container my-5">

<p>WhichGa.me is committed to providing an accessible experience to our customers and the public, regardless of
  disability status. Please contact colinjmass@gmail.com to learn more about accessibility support services at WhichGa.me.</p>

<h2>Reasonable Accommodations</h2>

<p>Individuals who need a reasonable accommodation to access WhichGa.me's services and information should send an email
  to colinjmass@gmail.com to provide information about the nature of the requested accommodation. Requesters should
  include contact information such as an email address or telephone number at which they can be reached.
  Depending on the nature of the request, WhichGa.me may need sufficient notice to provide a reasonable accommodation.</p>

<h2>Online Accessibility</h2>

<p>WhichGa.me strives to provide an accessible digital experience for our users. In the event that a user with a
  disability experiences accessibility issues with our website or other products and services, please notify us by
  sending an email to colinjmass@gmail.com.  In your communication to us, please specify the nature of the accessibility
  difficulty, including the web address (or other product or service) that may have presented an accessibility
  challenge.</p>

<h2>Third-Party Websites</h2>

<p>WhichGa.me products and services may contain links to webpages hosted by third parties. WhichGa.me does not make
  representations with regard to the accessibility of third-party websites and is not able to remediate accessibility
  barriers on such websites.</p>

<h2>Feedback</h2>

<p>We are always working to ensure that our products and services are accessible to all customers and the public,
  including individuals with disabilities.  If you have an idea or question about accessibility support services at
  WhichGa.me, please contact colinjmass@gmail.com.</p>

</div>

{% endblock content %}