{% load static %}


{% if ad == 'AD001' %}
<! –– 160x600 ––>
  <div class="d-none d-md-block d-lg-none">
    <div class="text-center text-muted">ADVERTISEMENT</div>
    <a href="https://www.jdoqocy.com/click-100483818-15036615" target="_blank">
      <img src="https://www.awltovhc.com/image-100483818-15036615" class="mt-1 img-fluid ad-img" width="160" height="600" alt="Buy Pathfinder: Wrath of the Righteous for PC at Green Man Gaming" border="0"/>
    </a>

    <a href="https://www.kqzyfj.com/click-100483818-14356449" target="_blank">
    <img src="https://www.lduhtrp.net/image-100483818-14356449" class="mt-1 img-fluid ad-img" width="160" height="600" alt="Make your own story" border="0"/></a>
  </div>
<! –– 300x600 ––>
  <div class="d-none d-lg-block d-xl-none">
    <a href="https://www.jdoqocy.com/click-100483818-14102346" target="_blank">
    <img src="https://www.tqlkg.com/image-100483818-14102346" class="mt-1 img-fluid ad-img" width="300" height="600" alt="" border="0"/></a>
  </div>


{% elif ad == 'APEX/KINGUIN' %}
<! –– 300x600 ––>
  <div class="d-none d-md-block">
    <div class="text-center text-muted"><small>AD</small></div>
    <a href="https://www.dpbolvw.net/click-100483818-14308748" target="_blank">
      <img src="https://www.tqlkg.com/image-100483818-14308748" class="img-fluid ad-img" width="300" height="600" alt="" border="0"/>
    </a>
  </div>
  <div class="d-none d-md-block">
    <div class="text-center text-muted"><small>ADVERTISEMENT</small></div>
    <a href="https://www.anrdoezrs.net/click-100483818-14525485" target="_blank">
      <img src="https://www.awltovhc.com/image-100483818-14525485" class="mt-1 img-fluid ad-img" width="300" height="250" alt="" border="0"/></a>
  </div>


{% elif ad == 'GMG/APEX' %}
<! –– 160x600 ––>
  <div class="d-none d-md-block d-lg-none">
    <div class="text-center text-muted">ADVERTISEMENT</div>
    <a href="https://www.dpbolvw.net/click-100483818-15025091" target="_blank">
      <img src="https://www.awltovhc.com/image-100483818-15025091" class="mt-1 img-fluid ad-img" width="160" height="600" alt="Shop now with Predator Gaming." border="0"/>
    </a>
  </div>
<! –– 300x600 ––>
  <div class="d-none d-lg-block">
    <div class="text-center text-muted"><small>Advertisement</small></div>
    <a href="https://www.jdoqocy.com/click-100483818-15036649" target="_blank">
      <img src="https://www.ftjcfx.com/image-100483818-15036649" class="mt-1 img-fluid ad-img"
           alt="Buy Life is Strange: True Colors for PC at Green Man Gaming" border="0"/>
    </a>
  </div>

{% elif ad == 'CROSSOUT_DESK' %}
<! –– 160x600 ––>
  <div class="d-none d-md-block d-lg-none">
    <div class="text-center text-muted">ADVERTISEMENT</div>
    <a href="https://www.dpbolvw.net/click-100483818-15025091" target="_blank">
      <img src="https://www.awltovhc.com/image-100483818-15025091" class="mt-1 img-fluid ad-img" width="160" height="600" alt="Shop now with Predator Gaming." border="0"/>
    </a>
  </div>
<! –– 300x600 ––>
  <div class="d-none d-lg-block">
    <div class="text-center text-muted"><small>Advertisement</small></div>
    <a href="https://www.jdoqocy.com/click-100483818-15036649" target="_blank">
      <img src="https://www.ftjcfx.com/image-100483818-15036649" class="mt-1 img-fluid ad-img"
           alt="Buy Life is Strange: True Colors for PC at Green Man Gaming" border="0"/>
    </a>
  </div>



{% elif ad == 'AD004' %}
<! –– 160x600 ––>
  <div class="d-none d-md-block d-lg-none">
    <a href="https://www.tkqlhce.com/click-100483818-15042446" target="_blank">
      <img src="https://www.lduhtrp.net/image-100483818-15042446" class="mt-1 img-fluid ad-img" width="300" height="1050" alt="Buy DEATHLOOP for PC at Green Man Gaming" border="0"/></a>
  </div>
<! –– 300x600 ––>
  <div class="d-none d-lg-block d-xl-none">
    <a href="https://www.anrdoezrs.net/click-100483818-15042447" target="_blank">
      <img src="https://www.ftjcfx.com/image-100483818-15042447" class="mt-1 img-fluid ad-img" width="640" height="1136" alt="Buy DEATHLOOP for PC at Green Man Gaming" border="0"/></a>
  </div>
{% elif ad == 'AD005' %}
<! –– 160x600 ––>
  <div class="d-none d-md-block d-lg-none">
    <a href="https://www.anrdoezrs.net/click-100483818-14308746" target="_blank">
      <img src="https://www.lduhtrp.net/image-100483818-14308746" class="mt-1 img-fluid ad-img" width="300" height="600" alt="" border="0"/></a>
    <a href="https://www.jdoqocy.com/click-100483818-14308747" target="_blank">
      <img src="https://www.tqlkg.com/image-100483818-14308747" class="mt-1 img-fluid ad-img" width="300" height="600" alt="" border="0"/></a>
  </div>
<! –– 300x600 ––>
  <div class="d-none d-lg-block d-xl-none">
    <a href="https://www.dpbolvw.net/click-100483818-15045883" target="_blank">
      <img src="https://www.awltovhc.com/image-100483818-15045883" class="mt-1 img-fluid ad-img" width="300" height="300" alt="Diablo II: Resurrected Premiere" border="0"/></a>
    <a href="https://www.dpbolvw.net/click-100483818-14308747" target="_blank">
      <img src="https://www.ftjcfx.com/image-100483818-14308747" class="mt-1 img-fluid ad-img" width="300" height="600" alt="" border="0"/></a>
  </div>
{% endif %}