
{% if ad == 'AD001' %}
  <div class="my-5 mx-auto d-none d-md-block text-center">
    <a href="https://www.tkqlhce.com/click-100483818-13890619" target="_blank">
      <img src="https://www.lduhtrp.net/image-100483818-13890619" class="img-fluid mx-auto d-block" width="1080" height="321" alt="Video Game Rentals Delivered" border="0"/>
    </a>
  </div>

{% elif ad == 'APEX/KINGUIN' %}
  <div class="my-5 mx-auto d-none d-md-block text-center" style="max-width: 760px; width: auto;">
    <a href="https://www.tkqlhce.com/click-100483818-14308744" target="_blank">
      <img src="https://www.awltovhc.com/image-100483818-14308744" class="img-fluid ad-img" width="700" height="87" alt="" border="0"/>
    </a>
  </div>


{% elif ad == 'GMG/APEX' %}
  <div class="my-5 d-none mx-auto d-md-block text-center" style=" width: auto;">
    <a href="https://www.dpbolvw.net/click-100483818-15029583" target="_blank">
      <img src="https://www.tqlkg.com/image-100483818-15029583" class="img-fluid mx-auto d-block" width="970" height="250" alt="Pre-Purchase Tales of Arise for PC at Green Man Gaming" border="0"/></a>
  </div>

{% elif ad == 'AD004' %}
  <div class="my-5 mx-auto d-none d-md-block text-center" style="max-width: 760px; width: auto;">
    <a href="https://www.jdoqocy.com/click-100483818-15025088" target="_blank">
      <img src="https://www.tqlkg.com/image-100483818-15025088" class="img-fluid mx-auto d-block" width="970" height="250" alt="Shop now with Predator Gaming." border="0"/></a>
  </div>
{% elif ad == 'AD005' %}
  <div class="my-5 mx-auto d-md-block text-center" style="max-width: 760px; width: auto;">
    <div id="amzn-assoc-ad-54ea0d80-1b2b-4a95-831f-d2530ae9f55b"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=54ea0d80-1b2b-4a95-831f-d2530ae9f55b"></script>
  </div>
{% endif %}