<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-white pt-5">
  <!-- Section: Form -->
  <div class="row container border-bottom mx-auto">

    <section class="col-12 col-lg-6 border-end-f">

      <form action="" method="post">{% csrf_token %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center text-start">
          <!--Grid column-->
          <div class="col-12">
            <p class="pt-2">
              <strong>Sign up for our newsletter:</strong>
            </p>
          </div>
          <div class="row">
            <!-- Email input -->
            <div class="col form-outline form-white mb-4">
              <input type="email" name="email" id="inputEmail" class="form-control" required/>
              <label class="form-label" for="inputEmail">Email address</label>
            </div>
            <div class="col text-start">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          </div>
        </div>
      </form>
    </section>
    <!-- Section: Form -->

  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 col-12 col-lg-6"
  >
    <!-- Left -->
    <div class="me-5 d-lg-block text-center">
      <span>Get connected with us on social networks:</span>
      <div class="">
        <a href="https://www.facebook.com/WhichGameShouldIPlay/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/Which_Game" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  </div>
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <a class="navbar-brand-c" href="/">Which<span class="ms-1" style="color:red;">Game</span></a>
          <p>
            This site contains affiliate links to products. We may receive a commission for purchases made through these links.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class=" h6 text-uppercase fw-bold mb-4">
            Navigation
          </h6>
          <p>
            <a href="/" class="text-reset">Home</a>
          </p>
          <p>
            <a href="{% url 'game_site:newest' %}" class="text-reset">Newest</a>
          </p>
          <p>
            <a href="{% url 'game_site:popular' %}" class="text-reset">Most Popular</a>
          </p>
          <p>
            <a href="{% url 'game_site:contact' %}" class="text-reset">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="h6 text-uppercase fw-bold mb-4">
            Company
          </h6>
          <p>
            <a href="{% url 'game_site:cookie_policy' %}" class="text-reset">Cookies Policy</a>
          </p>
          <p>
            <a href="{% url 'game_site:privacy_policy' %}" class="text-reset">Privacy Policy</a>
          </p>
          <p>
            <a href="{% url 'game_site:terms' %}" class="text-reset">Terms & Conditions</a>
          </p>
          <p>
            <a href="{% url 'game_site:dmca' %}" class="text-reset">DMCA Policy</a>
          </p>
          <p>
            <a href="{% url 'game_site:accessibility' %}" class="text-reset">Accessibility Statement</a>
          </p>
        </div>
        <!-- Grid column -->
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: WhichGa.me
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->